//
// Layout Config
//
// Root Font Sizes
$root-font-size: 14px; // Root font size for desktop mode
$root-font-size-lg: 14px; // Root font size for tablet mode
$root-font-size-md: 12px; // Root font size for mobile mode
